/*=====================================================================*/
/*IMPORT                                                               */
/*=====================================================================*/
@import 'reset';


/*=====================================================================*/
/*VARIABLES                                                            */
/*=====================================================================*/
/*colors*/
$color-basic: #FFF;
$color-black: #000;
$color-shadow: rgb(38, 38, 38);
$bg-body: linear-gradient(135deg, rgba(171,73,222,1) 50%,rgba(73,84,222,1) 100%);
$bg-movie-item: #FFF;//linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
$bg-layer: rgba(0, 0, 0, .5);
$bg-spiner: rgba(73,84,222,1);
$bg-loader: rgb(171,73,222);
$color-search: rgba(222,73,109,1);
$color-buton: rgba(255,174,39,1);
/*fonts*/
$family-basic: 'Open Sans', sans-serif;
$size-basic: 16px;


/*=====================================================================*/
/*EXTENDS                                                              */
/*=====================================================================*/
%loader-pseudoElm {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $bg-spiner;
}

%equal-center-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

%equal-pseudoEl {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

%search-border {
  border: 3px solid $color-search;
  outline: none;
}


/*=====================================================================*/
/*KEYFRAMES                                                            */
/*=====================================================================*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
  }
  70% {
    top: 25%;
    left: 50%;
    opacity: 0.2;
    width: 0;
    height: 0;
  }
  100% {
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }
}


/*=====================================================================*/
/*LOADER                                                          */
/*=====================================================================*/
#loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: $bg-loader;

  .section-left {
    left: 0;
  }

  .section-right {
    right: 0;
  }
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  margin: -37.5px 0 0 -37.5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $bg-spiner;
  z-index: 1001;
  animation: spin 2s linear infinite;

  &:before {
    @extend %loader-pseudoElm;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    animation: spin 3s linear infinite;
  }

  &:after {
    @extend %loader-pseudoElm;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    animation: spin 1.5s linear infinite;
  }
}

body.loaded {
  overflow: scroll;
}


.loaded {

  #loader {
    opacity: 0;
    z-index: -100;
    transition: all 1.4s ease-out;
  }

  #loader-wrapper {
    opacity: 0;
    z-index: -100;
    transition: all 2s ease-out;
    animation: disappear 1.8s ease-out;
  }
} 


/*=====================================================================*/
/*STYLE                                                                */
/*=====================================================================*/
html {
  min-height: 100vh;
}

body {
  background: $bg-body;
  font-size: $size-basic;
  font-family: $family-basic;
  color: $color-basic;
  position: relative;
  overflow: hidden;

  h1 {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
    font-size: 3.2em;
    font-weight: 400;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 30px;

  .search {
    height: 50px;
    @extend %equal-center-display;

    .search-wrapper {
      width: 100%;
    }

    .search-input {
      width: 50%;
      height: 30px;
      color: $color-search;
      @extend %search-border;
      padding: 5px 5px 5px 20px;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }

    .search-btn {
      height: 46px;
      width: 46px;
      background-color: $color-search;
      @extend %search-border;
      position: relative;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      &:after {
        @extend %equal-pseudoEl;
        width: 16px;
        height: 16px;
        background: transparent;
        border-top: 3px solid $color-basic;
        border-right: 3px solid $color-basic;
        top: 50%;
        left: 36%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  .checkbox-wrapper {
    @extend %equal-center-display;
    margin-bottom: 50px;

    input {
      display: none;
    }
  
    label {
      cursor: pointer;
      padding-right: 35px;
      position: relative;
      display: block;
      font-size: 18px;
      padding: 15px 0;
      width: 210px;
    }
  
    input[type="checkbox"], input[type="radio"] {
      position: absolute; 
      visibility: hidden !important;
    }
  
    input[type="checkbox"] + label, input[type="radio"] + label {
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 19px;
        margin-top: -7.5px;
        box-sizing: border-box;
      }
  
      &:before {
        width: 60px;
        height: 30px;
        right: 0px;
        background: #fff;
        border: 1px solid #BDBDBD;
        border-radius: 15px;
      }
  
      &:after {
        width: 30px;
        height: 30px;
        right: 30px;
        background: #BDBDBD;
        border-radius: 50%;
        transition: all 200ms ease-out;
      }
    }
  
    input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
  
      &:after {
        right: 0px;
        background: $color-search;
      }

      &:before {
        border: 1px solid $color-search;
      }
    }

  }
  
  .movie-list {
    margin-bottom: 50px;

    .movie-item {
      display: flex;
      margin: 20px 0;
      border: 1px solid #CCC;
      border-radius: 5px;
      box-shadow: 0px 2px 2px $color-shadow;
      position: relative;
      background: $bg-movie-item;
      color: $color-black;
      
      .removedBtn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        // transform: translateX(-50%);
        height: 30px;
        border-radius: 5px;
        border: none;
        font-size: 0.8em;
        width: 100px;
        background-color: $color-buton;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        color: $color-basic;
        font-weight: 700;
        letter-spacing: 1px;
        &:hover {
          transform: scale(1.1);
          background-color: $color-search;
        }
      }
    }

    .movie-item__poster {
      width: 20%;
      padding: 10px;

      img {
        width: 100%;
        height: auto;
        box-shadow: 0 2px 2px $color-shadow;
      }
    }

    .active .movie-item__layer {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: 5px;
      background-color: $bg-layer;
    }

    .movie-item__description {
      width: 80%;
      padding: 10px;
    }
  }
}